[submodule "indicators"]
	path = indicators
	url = https://github.com/p-ranav/indicators/
[submodule "cxxopts"]
	path = cxxopts
	url = https://github.com/jarro2783/cxxopts/
[submodule "spdlog"]
	path = spdlog
	url = https://github.com/gabime/spdlog/
